* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif, Verdana, Geneva, Tahoma;
  font-weight: bold;
}
.heade {
  width: 100%;
  height: 20vh;
}
/*HEADER LOGO > SEACH*/
.topp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3pc 8pc;
}
#logo {
  width: 195px;
  cursor: pointer;
}

.seach {
  width: 600px;
  height: 90px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#seach_bar {
  outline: none;
  padding: 18px 35px;
  font-size: 18px;
  font-style: italic;
  background: #ebf5f5;
  border: none;
  width: 300px;
}
#seach_bar:focus {
  margin-left: -1px;
  border-radius: 10px;
  transition: 250ms;
  border: #20d8da solid;
  width: 304px;
}
label {
  position: absolute;
  color: #555555;
  right: 400px;
  font-size: 20px;
  cursor: pointer;
}
label:hover {
  color: #20d8da;
  transition: 250ms ease-in-out;
}

#btn_login {
  border: none;
  background: #20d8da;
  color: #fff;
  width: 200px;
  padding: 18px;
  font-size: 18px;
  position: relative;
  top: -1px;
  left: 15px;
}
#btn_login:hover {
  transition: 0.3s;
  background-color: #333;
}
/*EDIT MENU*/
#menu {
  position: sticky;
  top: 0;
  width: 100%;
  height: 10vh;
  background-color: #fff;
  transition: 0.8s;
}
#menu.rolagem {
  background-color: #fff;
  position: fixed;
  top: 0;
  -webkit-box-shadow: 0px 0px 27px 0px rgba(51, 51, 51, 1);
  -moz-box-shadow: 0px 0px 27px 0px rgba(51, 51, 51, 1);
  box-shadow: 0px 0px 27px 0px rgba(51, 51, 51, 1);
}
.nav-list {
  padding-left: 115px;
  list-style: none;
  position: relative;
  transform: translateY(23%);
}

.nav-list li {
  display: inline-block;
  padding: 15px;
}

.nav-list a {
  text-decoration: none;
  font-weight: 300;
  color: #110000;
  font-size: 23px;
}
.nav-list a:hover {
  color: #20d8da;
  transition: 250ms ease-in-out;
}

.consoles {
  display: flex;
  flex-wrap: wrap;
  resize: both;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  padding: 5pc 100px;
  width: 100%;
}
.consoles img {
  max-width: 100%;
  width: 250px;
}
.box-product,
.box-product-1 {
  width: 350px;
  height: 300px;
  border-right: solid rgba(85, 85, 85, 0.5) 5px;
  padding-right: 30px;
}
.box-product img {
  width: 195px;
  margin: auto 80px;
  margin-top: 80px;
}
.box-product-1 {
  width: 195px;
  margin: 0 80px;
}

.box-product-3 {
  width: 195px;
  margin: 0 auto;
  padding-left: -100px;
}
.box-product-3 img {
  margin: 0;
}
.box-product-1 img {
  width: 195px;
  margin: 0 auto;
}

#btn-1 {
  position: relative;
  top: 60px;
  left: 40%;
  width: 160px;
  height: 50px;
}
#btn-2 {
  position: relative;
  top: 10px;
  left: 30%;
  width: 160px;
  height: 50px;
}
#btn-3 {
  position: relative;
  top: 54px;
  left: 20px;
  width: 160px;
  height: 50px;
}
#btn-1,
#btn-2,
#btn-3 {
  background: #20d8da;
  border: none;
  border-radius: 5px;
  color: #fff;
}
#btn-1:hover,
#btn-2:hover,
#btn-3:hover {
  background: #110000;
  transition: 0.5s;
}
